TFIDF/.idea/
TFIDF/*.iml
TFIDF/target
SkipWords/target
SkipWords/.idea/
SkipWords/*.iml
KNN/.idea/
KNN/target/
KNN/*.iml
NaiveBayes/.idea/
NaiveBayes/target/
NaiveBayes/*.iml
DataPreprocess/.idea/
DataPreprocess/target/
DataPreprocess/*.iml